body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hearth {
    width: 200px;
    height: 200px;
    position: relative;
    animation: beat 3s ease infinite;
}

.hearth ::before,
.hearth::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 130px;
    background-color: red;
    border-radius: 100px 100px 0 0;
    transform: rotate(-55deg)
}

.hearth::after {
    transform: rotate(55deg);
    left: 50px;
}

@keyframes beat {
    0% {
        transform: scale(1.2)
    }

    10% {
        transform: scale();
    }

    50% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.2);
    }
}